<h1>I am main componets</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet blanditiis sunt
  quos animi, aperiam architecto maiores, nam odio tenetur hic dolores aliquid,
  veniam ea nobis placeat libero explicabo neque iure?
</p>

<h1>My name is {{name}}</h1>
<button (click)="clickme()">click me</button>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quos officia dolorem dolorum, hic laborum ad, sit earum nostrum vitae soluta porro in magnam eligendi ipsa nam ratione, fugiat quae.</p>